/* themes.css */

/* Base Light Theme
body.theme-light {
  --background-color: #90d8ffa8;
  --input-sec-bg: #def3ff6e;
  --text-color: #000000;
  --header-background: #4cb4ffa9;
  --header-color: #333;
  --footer-background: #6ec5ff64;
  --footer-color: #333;
  --button-background: #e0e0e0;
  --button-color: #b6b6b672;
  --section-border: #e4e4e4;
  --highlight-color: #4f9cf5;
}
  */

body.theme-light {
  --background-color: #e6e6e68a;
  --input-sec-bg: #e7e7e7aa;
  --text-color: #006064;
  --header-background: #27859dd4;
  --header-color: #004d40;
  --footer-background: #27859dd4;
  --footer-color: #004d40;
  --button-background: #31ffe7;
  --button-color: #ffffff;
  --section-border: #e4e4e4;
  --highlight-color: #4f9cf5;
}

/* Base Dark Theme */
body.theme-dark {
  --background-color: #1e1e1e;
  --input-sec-bg: #2d2d2d;
  --text-color: #e0e0e0;
  --header-background: #333333;
  --header-color: #ffffff;
  --footer-background: #333333;
  --footer-color: #ffffff;
  --button-background: #00244c;
  --button-color: #6b6b6b;
  --section-border: #444444;
  --highlight-color: #0c315c;
}

/* Apply the variables to elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header, .navbar, .footer {
  background-color: var(--header-background);
  color: var(--header-color);
}

button {
  background-color: var(--button-background);
  color: var(--button-color);
}

/* Export button theme styles */
.theme-dark #export-btn {
  background-color: #4a9eff;
  color: #ffffff;
}

.theme-solarized #export-btn {
  background-color: #b58900;
  color: #ffffff;
}

.theme-sunset #export-btn {
  background-color: #ff6347;
  color: #ffffff;
}

.theme-ocean #export-btn {
  background-color: #00796b;
  color: #ffffff;
}

.theme-blossom #export-btn {
  background-color: #c2185b;
  color: #ffffff;
}

.theme-ember #export-btn {
  background-color: #c62828;
  color: #ffffff;
}

.theme-magic #export-btn {
  background-color: #512da8;
  color: #ffffff;
}